source .venv/bin/activate
export GEMINI_API_KEY="AIzaSyDDRkPyU9MXtaMayVuPVeHSkOdlRL3UhsU"
export ANTHROPIC_API_KEY="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"
